@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Raleway-Medium";
    src: url("/public/fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("/public/fonts/Roboto-Bold.ttf");
}