@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Raleway-Medium";
    src: url("/public/fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: "Bebas-Regular";
    src: url("/public/fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("/public/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("/public/fonts/Roboto-Bold.ttf");
} 
@font-face {
    font-family: "Roboto-Medium";
    src: url("/public/fonts/Roboto-Medium.ttf");
} 
@font-face {
    font-family: "open_sans-SemiBold";
    src: url("/public/fonts/OpenSans-SemiBold.ttf");
} 

.bannerimg{
    height: 500px;
    width: 600px;
}
@media (min-width:1920px){
    .bannerimg{
        width: 700px;
        height: 649px;
    }
}